<div>
  <h1>Booking Details</h1>
  <h2>Please confirm details</h2>
  <P>status = <%= @booking.status %></p>
  <p><%= @booking.treatment.name %> - £<%= @booking.treatment.cost %>
  <p>date = <%= @booking.date %></p>
  <p>time = <%= @booking.time %></p>
  <p>location = <%= @booking.location %></p>

  <%= simple_form_for @booking do |f| %>
    <%= f.input :date, as: :date, html5: true %>
    <%= f.input :time, as: :time, html5: true %>
    <%= f.input :location %>
    <%= f.button :submit, class: "btn btn-outline-primary" %>
  <% end %>

  <%= form_tag orders_path do %>
    <%= hidden_field_tag 'teddy_id', @teddy.id %>
    <%= submit_tag 'Purchase', class: 'btn btn-primary' %>
  <% end %>
</div>