<div class="container">
  <div class="row d-flex justify-content-center">
    <div>
      <h1>Booking Details</h1>
      <h2>Please confirm details and pay</h2>

      <p><%= @booking.treatment.name %> - £<%= @booking.treatment.cost %>
      <p>date = <%= @booking.date.strftime("%F") %></p>
      <p>time = <%= @booking.time.strftime("%H:%M") %></p>
      <p>location = <%= @booking.location %></p>
      <p><%= link_to 'Leave a review', new_booking_review_path(@booking) %></p>

      <%= form_tag orders_path do %>
        <%= hidden_field_tag 'booking_id', @booking.id %>
        <%= submit_tag 'Purchase', class: 'btn btn-my-beauty' %>
      <% end %>
    </div>

    <div>
      <img src="https://res.cloudinary.com/dwldoynuu/image/upload/v1590751977/Health_Beauty_Salon_qmqeqy.jpg" alt="flowers" width="800" style="border: 2px solid white; margin-top: 5px;">
    </div>
</div>