<div class="container">
  <div class="row d-flex justify-content-center">
    <div>
      <h1>Booking Details</h1>
      <h2>Please confirm details and pay</h2>

      <p><%= @booking.beautician_treatment.name %> - £<%= @booking.beautician_treatment.cost %>
      <p>Date = <%= @booking.date.strftime("%d / %m / %Y") %></p>
      <p>Time = <%= @booking.time.strftime("%H:%M") %></p>
      <p>Location = <%= @booking.location %></p>

      <%= form_tag orders_path do %>
        <%= hidden_field_tag 'booking_id', @booking.id %>
        <%= submit_tag 'Purchase', class: 'btn btn-my-beauty hvr-float-shadow' %>
      <% end %>
    </div>

    <div>
      <img src="https://res.cloudinary.com/dwldoynuu/image/upload/v1590751977/Health_Beauty_Salon_qmqeqy.jpg" alt="flowers" width="800" style="border: 2px solid white; margin-top: 20px;">
    </div>
</div>