<div class="container-fluid text-center" style="background-color: #FEFFFF">
  <div class="row py-4">

    <div class="col-md-6 mt-4 pt-4">
      <h1>Order #<%= @order.id %> <small><span class="badge badge-primary"><%= @order.state %></span></small></h1>
      <ul class="list-unstyled">
        <li><strong>ISSUED ON</strong> <%= @order.created_at.to_date %></li>
        <li><strong>BOOKING</strong> <%= @order.booking.treatment.name %></li>
        <li><strong>TOTAL</strong> <%= humanized_money_with_symbol @order.amount %></li>
        </li>
      </ul>
      <h1>Enjoy your Treatment!</h1>
    </div>
    <%= image_tag "flowers.jpg", class: "flowers-img"%>

  </div>
</div>
