<body>

<div class="bg">

  <div class="row">
    <div class="col text-center">
      <div class="title-homepage">
        <h1>MY BEAUTY</h1>
        <h1>MY WAY</h1>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-4 offset-md-6 search-form">
      <form action="/beauticians">
        <div class="form-group">
          <select class="form-control input-my-beauty" placeholder="Find your treatment" id="find-treatment" name="multiquery[treatment]">
            <option>Choose Your Treatment category</option>
            <% treatments = @treatments.uniq{|e| [e.category]} %>
            <% treatments.each do |treatment| %>
              
              <option value="<%= treatment.category %>"><%= treatment.category %></option>
              
            <%end%>
          </select>
        </div>
        <div class="form-group">
          <input type="text" class="form-control input-my-beauty" placeholder="Your Postcode" id="your-postcode" name="multiquery[postcode]">
        </div>
        <%# <div class="form-group">
          <input type="text" class="form-control input-my-beauty" placeholder="Booking Date" id="booking-date" name="multiquery[date]">
        </div> %>
        <button type="submit" class="btn btn-my-beauty">Search</button>
        <%= link_to "View all Beauticians", beauticians_path, class: "btn btn-my-beauty" %>
      </form>
    </div>
  </div>

</div>
<div class="text-center p-3 white-bg">
  <p>TREATMENTS IN THE COMFORT OF YOUR OWN HOME</p>
</div>

<div class="container-steps">
  <div class= "text-center steps">
    <i class="fas fa-search fa-3x"></i>
    <p class= "pt-4">Find a beautician who is right for you </p>
  </div>
  <div class="text-center steps">
    <i class="fas fa-calendar-alt fa-3x"></i>
    <p class= "pt-4">Book a date and time that suits you the best</p>
  </div>
  <div class="text-center steps">
   <i class="fas fa-smile-beam fa-3x"></i></i>
    <p class= "pt-4">Enjoy your treatment!</p>
  </div>

</div>

<div class="row treatments-card">
  <div class="col-md-6 card-img" style="background-image: url(<%= asset_path 'nails.jpg' %>)"></div>
  <div class="col-md-6 card-description my-auto">
    <p>Whether you're after a gel manicure that will last the distance, some chic nail designs, or colourful and quirky designs – chose from our large list of professionals for all your nail needs.</p>
  </div>
</div>

<div class="row treatments-card">
  <div class="col-md-6 card-description my-auto">
    <p style="margin-left: 12px">Take care of your hair. Find the treatment that your hair needs the most.</p>
  </div>
  <div class="col-md-6 card-img" style="background-image: url(<%= asset_path 'hair.jpg' %>)"></div>
</div>

<div class="row treatments-card">
  <div class="col-md-6 card-img" style="background-image: url(<%= asset_path 'face.jpg' %>)"></div>
  <div class="col-md-6 card-description my-auto">
    <p>A facial is essentially a multi-step skin treatment that is one of the best ways to take care of your skin.</p>
  </div>
</div>

</body>
